<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="device-width, initial-scale=1.0" />
    <title>BOC - Dashboard for Receiving</title>
    <link rel="stylesheet" href="receivingDashboard.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=bar_chart" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<!-- Sidebar -->
<div class="body-sidebar">
    <button class="menu-button"> <!-- sidebar-menu-button" -->
        <span class="material-symbols-rounded">menu</span>
    </button>

    <aside class="sidebar"></aside>
    <!-- Sidebar Header -->
    <header class="sidebar-header">
        <a href="" class="BoC-logo"> <!-- header-logo -->
            <img src="assets/1002.jpg" alt="BOC Logo" />
        </a>
        <button class="sidebar-toggle">
            <span class="material-symbols-rounded">chevron_left</span>
        </button>
    </header>

    <nav class="sidebar-nav">
        <!-- Primary Top Nav -->
        <ul class="nav-list primary-nav">
            <!-- dashboard button -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="material-symbols-rounded">dashboard</span>
                    <span class="nav-label">Dashboard</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link dropdown-title">Dashboard</a></li>
                </ul>
            </li>

            <!-- Reports/Stats -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="material-symbols-rounded">reports/stats</span>
                    <span class="nav-label">Reports/Stats</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link dropdown-title">Reports/Stats</a></li>
                </ul>
            </li>

            <!-- History -->
            <li class="item">
                <a href="#" class="nav-link">
                    <span class="material-symbols-rounded">history</span>
                    <span class="nav-label">History</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link dropdown-title">History</a></li>
                </ul>
            </li>

            <!-- Change Username -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="material-symbols-rounded">change username</span>
                    <span class="nav-label">Change Username</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link dropdown-title">History</a></li>
                </ul>
            </li>

            <!-- Change Password -->
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="material-symbols-rounded">change password</span>
                    <span class="nav-label">Change Password</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="nav-item"><a class="nav-link dropdown-title">Change Password</a></li>
                </ul>
            </li>

            <!-- Log Out -->
            <li></li>
        </ul>
    </nav>
</div>



<!-- Body Main -->
<div class="Body-Main">
    <!-- Header -->
    <div class="header-main">
        <p id="windowTitle"></p>
        <p id="employeeName"></p>
    </div>

    <section class="stat-container">
        <div class="stat-card">
            <div id="totalQueue"></div>
            <div class="stat-label">People in Queue</div>
        </div>
        <div class="stat-card">
            <div id="totalMissed"></div>
            <div class="stat-label">Missed Queue</div>
        </div>
        <div class="stat-card">
            <div id="totalComplete"></div>
            <div class="stat-label">Total Completions</div>
        </div>
        <div class="stat-card">
            <div id="totalReferred"></div>
            <div class="stat-label">Total Referred/Transferred</div>
        </div>
    </section>

    <!-- Table -->
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Time</th>
                <th>Priority</th>
                <th># of Misses</th>
                <th>Modify User</th>
            </tr>
        </thead>
        <tbody id="queueTable"></tbody>

    </table>

    <!-- Bottom Section -->
    <section class="bottom-section">

        <!-- Left Side -->
        <div class="left-side">
            <div class="left-part top">
                <div>Currently Serving: </div>
                <div id="currentServing"></div>
            </div>
            <div class="left-part bottom">
                <div class="stat-card">
                    <div class="stat-label">Visited: </div>
                    <div id="currentVisited"></div>
                </div>
                <div class="stat-card">
                    <div class="stat-label">Priority: </div>
                    <div id="currentPriority"></div>
                </div>
                <div class="stat-card">
                    <div class="stat-label">Missed Calls: </div>
                    <div id="currentMissed"></div>
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="right-side">
            <input type="button" value="Transfer" id="transferBtn">
            <input type="button" value="Complete" id="completeBtn">
        </div>

    </section>
</div>


</body>
</html>